./*/Log
ActionDetect1/UCF-101
ActionDetect1/check_point
./SceneDetect/test
./SceneDetect/train
./SceneDetect/model
./.idea
ActionDetect1/.idea
/SceneDetect/test/
/SceneDetect/train/
/SceneDetect/model/
/SceneDetect/mobilenet/
/ActionDetect1/dataset/call/
/ActionDetect1/dataset/
/dataset/
/SceneDetect/model/
/ActionDetect/model_20epochs_valacc67_valloss148/
/ActionDetect/model_50epochs_crop_valacc96_valloss35/
/ActionDetect/model_50epochs_valacc82/
/ActionDetect/model_50epochs_valacc85_valloss97_30fps/
/ActionDetect/model_50epochs_valacc86_valloss68/
/ActionDetect1/Log/
/SceneDetect/dataset/
/SceneDetect/model/
